@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;700&display=swap");
* {
	font-family: "Oxanium", cursive;
}

$pm-color: #3a78f2;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;

	.nav-logo p {
		font-size: 22px;
		font-weight: $font-bold;
	}
	.nav-items ul {
		list-style: none;
		display: flex;
	}
	li {
		margin: 0 25px;
		padding-top: 15px;
	}
	li:hover {
		font-weight: $font-medium;
		transition: 0.3s ease-in;
	}
	.get-btn button {
		border: none;
		border-radius: 10px;
		padding: 10px 30px;
		background-color: #282a2c;
		color: white;
	}
	.menu-icon img {
		width: 24px;
	}
}

header {
	background: url(../assets/banner-left-star.png);
	background-repeat: no-repeat;
	background-size: 3.5%;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.left-content p {
			font-size: 94px;
			font-weight: $font-bold;
		}

		span {
			color: $pm-color;
		}
		.right-img {
			background: url(../assets/Polygon\ 7.png), url(../assets/Polygon\ 6.png);
			background-repeat: no-repeat;
			background-position: left top, bottom right;
			background-origin: content-box;
		}
	}
	button {
		border: 0.5px solid $pm-color;
		padding: 12px 37px;
		border-radius: 7px;
		margin-right: 70px;
		font-weight: $font-medium;
		background: none;
		color: $pm-color;
	}
	button:hover {
		background-color: $pm-color;
		color: #fff;
	}
	.h-section-icon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 100px;

		flex-wrap: wrap;
	}
}

// section box css
.service-boxs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	gap: 60px;
	padding-bottom: 20px;
	.box {
		padding: 33px;
		border-radius: 10px;
		width: 383px;
		height: 380px;
		border: 1px solid #7c7c7c;
		margin: 0 auto;

		img {
			background-color: #1d2225;
			margin-bottom: 33px;
		}
		h3 {
			margin-bottom: 33px;
			font-size: 24px;
			font-weight: $font-bold;
		}
		span {
			color: grey;
		}
		p {
			margin: 33px 0;
			font-weight: $font-bold;
		}
	}
	.box:hover {
		background-color: $pm-color;
		transition: 0.2s ease-in;
		color: #fff;
		span {
			color: #fff;
		}
	}
}
.section-wy {
	background: linear-gradient(to top, #fff 50%, $pm-color 50%) no-repeat;
}
.why-section {
	p,h1{
		color: #fff;
		font-weight: $font-bold;
	}
	.why-section-banner {
		background-size: 80px;
		padding-top: 100px;
		background: url(../assets/Group.png);
		background-repeat: no-repeat;
		background-position: center;

		display: flex;

		justify-content: center;
		img {
			width: 100%;
			border-radius: 40px;
		}
	}
	.w-details {
		padding-top: 70px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.icon img {
			width: 40px;
			margin-right: 20px;
		}
		.w-d-text p {
			color: grey;
		}
	}
}
.groth-section {
	background-color: $pm-color;
	margin-bottom: 80px;

	.groth {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 40px 0px;
		.groth-box {
			display: flex;
			justify-content: space-around;
			h1 {
				font-weight: $font-bold;
				color: white;
			}
			p {
				color: #dad6d6;
			}
		}

		.br {
			border-right: 2px solid #fff;
			height: 100px;
		}
	}
}

.price {
	.price-section-title {
		margin: 30px 0;
		text-align: center;
		h1 {
			font-weight: $font-bold;
		}
	}
}

form {
	padding-bottom: 59px;
	.form-header {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 10px 20px;
		background-color: #eff4fe;
		border-radius: 10px;
		justify-content: center;
	}
	.form-data {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 10px 20px;
		background-color: #ffffff;
		border-radius: 10px;
		justify-content: center;
		button {
			border: 0.5px solid $pm-color;
			padding: 12px 27px;
			border-radius: 7px;
			margin-right: 50px;
			font-weight: $font-medium;
			background: none;
			color: $pm-color;
		}
		button:hover {
			background-color: $pm-color;
			color: #fff;
		}
	}
}

.message-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	.message-form-body {
		display: flex;
		flex-direction: column;
	}

	input:focus ~ label,
	textarea:focus ~ label,
	input:valid ~ label,
	textarea:valid ~ label {
		font-size: 0.75em;
		color: #999;
		top: -5px;
		-webkit-transition: all 0.225s ease;
		transition: all 0.225s ease;
	}

	.styled-input {
		float: left;
		width: 293px;
		margin: 1rem 0;
		position: relative;
		border-radius: 4px;
	}

	@media only screen and (max-width: 768px) {
		.styled-input {
			width: 100%;
		}
	}

	.styled-input label {
		color: #999;
		padding: 1.3rem 30px 1rem 30px;
		position: absolute;
		top: 10px;
		left: 0;
		-webkit-transition: all 0.25s ease;
		transition: all 0.25s ease;
		pointer-events: none;
	}

	.styled-input.wide {
		width: 650px;
		max-width: 100%;
	}

	input,
	textarea {
		padding: 7px;
		border: 0;
		width: 100%;
		font-size: 1rem;
		background-color: #e9e8e8;
		color: #000000;
		border-radius: 10px;
	}

	input:focus,
	textarea:focus {
		outline: 0;
	}

	input:focus ~ span,
	textarea:focus ~ span {
		width: 100%;
		-webkit-transition: all 0.075s ease;
		transition: all 0.075s ease;
	}

	textarea {
		width: 100%;
		min-height: 15em;
	}

	.input-container {
		width: 650px;
		max-width: 100%;
		margin: 20px auto 25px auto;
	}

	.submit-btn {
		padding: 7px 35px;
		border-radius: 60px;
		display: inline-block;
		margin-left: 220px;
		background-color: $pm-color;
		color: white;
		font-size: 18px;
		cursor: pointer;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
			0 2px 10px 0 rgba(0, 0, 0, 0.07);
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}

	.submit-btn:hover {
		transform: translateY(1px);
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
	}

	@media (max-width: 768px) {
		.submit-btn {
			width: 100%;
			float: none;
			text-align: center;
		}
	}

	input[type="checkbox"] + label {
		color: #ccc;
		font-style: italic;
	}

	input[type="checkbox"]:checked + label {
		color: #f00;
		font-style: normal;
	}
}
